<table>
    <thead>
    <tr>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
    </tr>
    <tr>
        <th style="text-align: center"><b>No</b></th>
        <th style="text-align: center"><b>Nip</b></th>
        <th style="text-align: center"><b>No BPJS Kesehatan</b></th>
        <th style="text-align: center"><b>No BPJS Tenaga Kerja</b></th>
        <th style="text-align: center"><b>Nama Karyawan</b></th>
        <th style="text-align: center"><b>Tempat Lahir</b></th>
        <th style="text-align: center"><b>Tanggal Lahir</b></th>
        <th style="text-align: center"><b>Pendidikan Terakhir</b></th>
        <th style="text-align: center"><b>Alamat</b></th>
        <th style="text-align: center"><b>Divisi</b></th>
        <th style="text-align: center"><b>Perusahaan</b></th>
        <th style="text-align: center"><b>Tanggal Masuk</b></th>
        <th style="text-align: center"><b>Mulai Kontrak</b></th>
        <th style="text-align: center"><b>Habis Kontrak</b></th>
        <th style="text-align: center"><b>Catatan</b></th>
        <th style="text-align: center"><b>Keluarga</b></th>
        <th style="text-align: center"><b>Gaji</b></th>
        <th style="text-align: center"><b>Foto</b></th>
    </tr>
    </thead>
    <tbody>
            <tr>
            <td>1</td>
            <td>1212</td>
            <td>122112</td>
            <td>1221</td>
            <td>Fajri</td>
            <td>Bengkulu</td>
            <td>01 December 2020</td>
            <td>Kuliah</td>
            <td>sadadssad</td>
            <td>Programmer</td>
            <td>Perusahaan 1</td>
            <td>09 December 2020</td>
            <td>10 December 2020</td>
            <td>31 December 2020</td>
            <td>dadas</td>
            <td>asdads</td>
            <td>1.200.000,00</td>
            <td><img  height='100' src="http://localhost:8000/storage/5/man-300x300.png"></td>
        </tr>
            <tr>
            <td>2</td>
            <td>3232</td>
            <td>232323</td>
            <td>2323</td>
            <td>Idza</td>
            <td>Bengkulu</td>
            <td>15 December 2020</td>
            <td>Kuliah</td>
            <td>sadda</td>
            <td>Programmer</td>
            <td>Perusahaan 1</td>
            <td>09 July 2020</td>
            <td>13 August 2020</td>
            <td>22 October 2020</td>
            <td>adsdasasd</td>
            <td>sdaads</td>
            <td>122.222.222.222,00</td>
            <td><img  height='100' src="http://localhost:8000/storage/3/man-300x300.png"></td>
        </tr>
    
    </tbody>
</table>
